<html ng-app='toDoListApp'>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="https://kit.fontawesome.com/0c53748943.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="app.js"></script>
  <script src="todo.js"></script>
  <link rel="stylesheet" href="style.css" />
</head>

<body ng-controller='TodoCtrl'>
  <div class="container">
    <h2 class="Jumbotron text-center">Total todos: {{getTotal()}}</h2>
    <ol class="list-group">
        <li ng-repeat='task in taskList| filter: filterTodo'>
          <button type="button" ng-class='{done: task.done}' class="list-group-item list-group-item-action">
            <input type='checkbox' ng-model='task.done' />
            {{task.task}}<span  ng-click="onSelect" class="close">&times;</span></button>
        </li>
    </ol>



    <form class='input-form'>
      <input type='text' ng-model='newTask' />
      <button class="btn btn-primary" ng-click='addTask(newTask)'><i class="fas fa-plus"></i> Add</button>
      <button class="btn btn-primary" ng-click='completed()'><i class=""></i> Completed</button>
      <button class="btn btn-danger" ng-click="clear()"><i class="fas fa-trash-alt"></i> Clear Completed</button>
      <button class="btn btn-primary" ng-click='all()'><i class=""></i> All</button>
    </form>
    
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>